@model StackTak.Models.User_List


@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Login" })
    </div>

    <div class="form-group">
        
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
    </div>

    <div class="form-group">
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
}